{% extends 'base.html' %}

{% block content %}
    <div class="container mx-auto">
        <div class="header mb-8">
            <div class="flex justify-between items-center px-32">
                <p class="text-3xl text-green-500 font-montserrat font-bold py-8">SHOPPING LIST PAGE</p>
                <a href="{% url 'main:create_product' %}">
                    <button class="font-montserrat bg-green-500 hover:bg-green-700 font-medium text-white rounded-full px-4 py-2">Add New Product</button>
                </a>
            </div>
        </div>
        
        <h5>{{name}} - {{class}}</h5>
        
        <!-- <ul>
            {% for product in products %}
            <li class="flex justify-between items-center shadow-lg rounded-lg p-6">
                <p>{{product.name}}<span>{{product.price}}</span></p>
                <p>{{product.description}}<span>{{product.date_added}}</span></p>
            </li> -->
            <!-- {% endfor %}
        </ul> -->

        <div class="grid-cols-3 grid gap-4 my-8">
            {% for product in products %}
            <div class="h-96 border-2 border-gray-200 rounded-lg p-6">
                <p class="flex justify-between font-bold">{{product.name}}<span>Rp{{product.price}}</span></p>
                <p class="pt-2">{{product.description}}</p>
            </div>
            <!-- <tr>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td>{{product.description}}</td>
                <td>{{product.date_added}}</td>
            </tr> -->
            {% endfor %}
        </ul>
    
    <br />
    </div>
    
    {% endblock content %}